{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "plugin:sonarjs/recommended",
    "plugin:promise/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "optimize-regex",
    "sonarjs",
    "no-loops",
    "promise",
    "simple-import-sort"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-use-before-define": "off",
    "no-return-await": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-empty-interface": "off",
    "optimize-regex/optimize-regex": "warn",
    "sonarjs/cognitive-complexity": ["error", 30],
    "no-loops/no-loops": "error",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/first": "error",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off"
  }
}
